*{
  margin:0px;
  padding:0px;
  
  
}
.navbar{
  
  height:15vh;
 
}
.navbar ul{
display: flex;
justify-content: flex-end;
align-items: flex-end;

}
.navbar ul .box{
  margin:1em;
  list-style:none;
  color: white;
}
.one{
   
  height:100vh;

}


.one .bgimgone{
height:44.4em;
  position: relative;
  z-index:-1;
  bottom: 5.8em;
  

}
.one .intro{
  position:absolute;
  bottom:19em;
  left:4em;
  z-index:2;
  animation: mymove 2s 1;
}

.one span{
  color:white;
  font-size:5rem;
  z-index:1;
  
  
}

@keyframes mymove{
      from{
        left:300px;
       opacity:0;

      }
      from{
        opacity: 1;
      }
    }
.desc{
  color:white;
  box-sizing: border-box;
  max-width:20vw;
  max-height: 10vh;
  
}
.two{
   height:100vh;
}

.two .bgimgtwo{
  height:44.9em;
  width:78.9502em;
  position:absolute;

}
.projects{
  position: absolute;
  top: 55em;
  left: 0em;
  box-sizing: border-box;
  height: 75vh;
  max-width: 100vw;
  color: white;
  overflow: auto;
  z-index: 2;


}
.projects .card{
  box-sizing: border-box;
    max-height: 65vh;
    max-width: 38vw;
    position: relative;
    margin: 1.5em;
    padding: 1em;
    border-radius: 20px;
    color:white;
}
.card:hover{
  font-size:17px;

}
.projects .card img{
  height: 22vh;
  display: block;
  margin: auto;
  padding: 1em;
  border:2px solid white;
}
.footer{
  opacity:0.5;
  
}
.footer p{
  color:white;
  position: relative;
  bottom:200px;
}